body {
  background: url("../images/calculations.jpeg");
}

h1 {
  font-family: monospace;
}

.btn {
  font-family: monospace;
  display: inline;
}

.js-calculator-div {
  background: antiquewhite;
}

.div-calc-history {
  background: beige;
  font-family: monospace;
}

.calc-input-one {
  border: 2px;
  height: 12px;
  width: 20px;
  color: gray;
}

.calc-output {
  margin: 20px;
  font-family: monospace;
}
