body {
  background: url("images/calculations.jpeg");
}

h1 {
  font-family: monospace;
}

btn {
  font-family: monospace;
}

.js-calculator-div {
  background: antiquewhite;
}

.div-calc-history {
  background: beige;
  font-family: monospace;
}

.calc-output {
  margin: 20px;
}
